

<form name="f2">
    <div class="card">
        
        <div class="card-body">

            <div class="form-group row align-items-center justify-content-center">
                <label for="refFacture" class="col-sm-2 col-form-label">Reference de facture</label>
                
                <div class="col-sm-2 ">   
                    <input [(ngModel)]="refFacture" name="refFacture" class="form-control" id="refFacture"  placeholder="Facture" required>
                </div>
                <div class="col-sm-2 ">  
                <button class="btn btn-primary "[disabled]="isLoading" (click)="filterFactures()">Chercher</button>
                </div>
                
                <div *ngIf="isLoading">
                    <p>Recherche en cours... Veuillez patienter.</p>
                    <!-- You can add a spinner here -->
                </div>
            </div>
            
    
            <br>
                <div class="card border-info">
                    <div class="card-body">
                        
                        <div >
                            <div class="table-container" id="tableOptions">
                                <table class="table table-hover" >
                                
                                    <thead>
                                        <tr>
                                        <th>Reference</th>
                                        <th>date</th>
                                        <th>Client</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr *ngFor="let facture of filteredFactures" (click)="selectFacture(facture)">
                                            <td>{{ facture.ref }}</td>
                                            <td>{{ facture.date }}</td>
                                            <td>{{ facture.client_nom }}</td>
                                            <td>
                                                {{ facture.prix_total }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
                
            
                
           
                <!--*ngIf="selectedFacture"-->
            <div class="card border-danger" *ngIf="selectedFacture">
                <div class="card-body">
                    <div class="card border-info">
                        <div class="card-header">
                            <h5>Référence de la Facture : {{selectedFacture.ref}}</h5>
                        </div>
                        <div class="card-body">
                            <h6>Informations sur le Client</h6>
                            <div class="row">
                                <div class="col-md-6">
                                
                                    <p><strong>Nom :</strong> {{selectedFacture.client_nom}}</p>
                                    <p><strong>Téléphone Principal :</strong> {{selectedFacture.client_tel1}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Adresse :</strong> {{selectedFacture.client_adresse}}</p>
                                    <p><strong>Téléphone Secondaire :</strong> {{selectedFacture.client_tel2}}</p>
                                </div>
                            </div>

                            
                            
                            
                            <h6>Date de la Facture : </h6>
                            <p>{{selectedFacture.date}} </p>
                        </div>
                    </div>
                
                
                 
                

                    <div class="container mt-4">
                        <h2>Les Articles </h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    
                                    <th>Article</th>
                                    <th>Prix UTTC</th>
                                    <th>Remise</th>
                                    <th>Quantite</th>
                                    <th>Prix unitaire</th>
                                    <th>Retour</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let i of selectedFacture.articles ;let index=index">
                                <tr>

                                    <td>{{index}}</td>
                                    <td>{{i.nom}}</td>
                                    <td>{{i.prix_vente_ttc}}</td>
                                    <td>{{i.remise}}</td>
                                    <td>{{i.quantite}}</td>
                                    <td>{{i.prix_vente}}</td>
                                    
                                    <td>
                                        <input type="number" [id]="'quantityInput' + index" name="quantityInput" min="0" [max]="i.qte" [(ngModel)]="returnedQte[index]" >
                                        <button class="btn btn-danger" (click)="handleRetour(i, returnedQte[index])">Retour</button>
                                    </td>
                
                                </tr>
                                
                            </tbody>
                            
                        </table>
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-block" id="subButton" (click)="onSubmit()">Confirmer</button>
                    </div>

                    
                      
                </div>
            </div>
        </div>
    </div>
    </form>