<div class="container2">
  <nav class="left-nav-bar">
    
    <br>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/ajouter" routerLinkActive="active">Ajouter Articles</a></li>
      <li><a routerLink="/articles" routerLinkActive="active">Articles</a></li>
      <li><a routerLink="/vente" routerLinkActive="active">Vente</a></li>
      <li><a routerLink="/retour" routerLinkActive="active">Retour</a></li>
      <li><a routerLink="/clients" routerLinkActive="active">clients</a></li>
      <li><a routerLink="/client-info" routerLinkActive="active">client informations</a></li>
  </nav>
  <div class="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
</div>
</div>


  
 
