
<div>
    <h2>Bons de Livraisons</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Reference</th>
          <th>Date</th>
          <th>Client</th>
          <th>Somme Total</th>
          
            <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let bl of filteredBLs">
          <td>{{ bl.id }}</td>
          <td>{{ bl.ref }}</td>
          <td>{{ bl.date }}</td>
          <td>{{ bl.nom }}</td>
          <td>{{ bl.prix_total }}</td>   
          <td>
            <button class="btn btn-info" (click)="viewDetail(bl.id,bl.ref)">Voir les Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  